<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Write New Chat</title>
    </head>
    <body>
        <h3>Write New Chat Here...</h3>

        <form method="POST" action="/chats">
            <input name="from" placeholder="who are you?"> <br><br>
            <textarea name="msg" placeholder="Write your message here.."></textarea> <br><br>
            <input name="to" placeholder="add receiver"> <br><br>
            <button>Create Chat</button>
        </form>
    </body>
</html>