<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>
    <body>
        <h1>This is the home page 3 * 2</h1>
        <h3> <%= "apna college".toUpperCase() %> </h3>
        <h3> <%= ["Hello", "Bonjour", "Namaste"][2] %> </h3>
        <h3> <%=3 * 2 %> </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, eveniet? Praesentium ipsa sint libero dicta quo doloribus cum dolor fugit quia? Quis nihil exercitationem ratione, alias sit doloribus est modi.
        </p>
        <button>Click Me!</button>
    </body>
</html>