<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h2>The total number of users are : <%= count %></h2>
    <button>Join us today!</button>
    <button>
        <a href="http://localhost:8080/user">See In Detail</a>
    </button>
</body>
</html>